<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.com.user.mapper.UserMapper"> 

<!-- 사용자 목록 -->
    <select id="getUserList"
              resultType="com.example.com.user.vo.UserVo">
      SELECT USERID, PASSWD, USERNAME, EMAIL, INDATE
       FROM  TUSER
    </select>

<!-- 사용자 뷰 -->
    <select id="getUser"
            resultMap="com.example.com.user.vo.UserVo">
        SELECT   USERID
               , PASSWD
               , USERNAME
               , EMAIL
               , TO_CHAR(INDATE, 'YYYY-MM-DD HH24:MI:SS') INDATE
         FROM  TUSER
         WHERE USERID = #{ userid }    
    </select>

    <insert id="insertUser">

        INSERT INTO TUSER (
              USERID
            , PASSWD
            , USERNAME
            , EMAIL
        ) VALUES (
              #{ userid }
            , #{ passwd }
            , #{ username }
            , #{ email }
        )

    </insert>
    

</mapper>