<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <!-- <link rel="stylesheet" href="/css/common.css"> -->
    <style>
        table {
            width: 90%; margin: 5%; border-spacing: 5px; margin-top: 1%;
        }
        table, tr, th, td { border: 1px solid black; border: 1px solid gray;
      border-radius: 15px;}
      tr {
        margin: 80px;
      }  
      
      td {       
            border-radius: 15px;
        }
        .board td:hover { cursor: pointer; color: #2F73C0;}
        .boardt td:hover a { cursor: pointer; color: red;}
    </style>
    
</head>
<body>
    <div th:replace="~{/fragments/header :: headerFragment}"></div>
    <div hidden id="wrap">

        <div id="mainlist">
            <h2 style="text-align: center;" th:text="${menu.menu_name}"></h2>
            <table>
                <tr  class="boardt">
                    <td style="text-align: center;" colspan="5">
                        <th:block th:if="${session.user}">
                            <a th:href="@{/Board/WriteForm(menu_id=${param.menu_id})}">글쓰기</a>
                        </th:block>
                        <th:block th:if="${session.user == null}">
                            <span>로그인을 하셔야 글쓰기가 가능합니다(</span><a th:href="@{/loginpage}">로그인 바로가기</a><span>)</span>
                        </th:block>
                    </td>
                </tr>
                <tr>
                    <th>번호</th>
                    <th>제목</th>
                    <th>글쓴이</th>
                    <th>날짜</th>
                    <th>조회수</th>
                </tr>
                <tr class="board" th:each="board : ${boardList}" th:onclick="|location.href='@{View(idx=${board.idx},menu_id=${param.menu_id})}'|">
                    <td style="text-align: center;" th:text="${ board.idx }"></td>
                    <td style="padding-left: 10px;" th:text="${ board.title }"></td>
                    <td style="text-align: center;" th:text="${ board.writer }"></td>
                    <td style="text-align: center;" th:text="${ board.regdate }"></td>
                    <td style="text-align: center;" th:text="${ board.readcount }"></td>
                </tr>
            </table>
        </div>
        
    </div>
</body>
<script>
    document.querySelector('#contents').append(document.querySelector('#mainlist'));
</script>
</html>