<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery.min.js"></script>
</head>
<body>
    <p th:text="${boardVo.title}"></p>
    <hr>
    <p id="cont" hidden th:text="${boardVo.cont}"></p>
    <div id="main"></div>
    
    
</body>
<script>
    let fuck = $('#cont').text();
    $('#main').append(fuck);
</script>
</html>