<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.ckeditor.com/ckeditor5/37.0.1/classic/ckeditor.js"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/37.0.1/classic/translations/ko.js"></script>
    <style>
        table, tr, td { border: 1px solid black; border-collapse: collapse;}
        input[type=text] { width: 900px; }
        tr { height: 40px;}
        tr:nth-child(2) { height: 500px;}
        td:nth-child(1) { padding-right: 90px; }
        .ck.ck-editor {	max-width: 100%; }
	    .ck-editor__editable { min-height: 500px; }
    </style>
</head>
<body>
    <h2>글싸기</h2><hr>
    <table>
        <tr>
            <td><b>제목<b></td>
            <td><input type="text" name="" id=""></td>
        </tr>
        <tr id="conttr">
            <td><b>내용<b></td>
            <td><textarea id="cktextarea"></textarea></td>
        </tr>
        <tr>
            <td><b>첨부파일<b></td>
            <td><input type="file" name="" id=""></td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: right;">
                <button>글쓰기</button>
                <button>취소</button>
            </td>
        </tr>
    </table>
</body>
<script>
    ClassicEditor
        .create( document.querySelector( '#cktextarea' ), {
            language: "ko"
        } )
        .catch( error => {
            console.error( error );
        } );
</script>
</html>