<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/37.0.1/classic/ckeditor.js"></script>
    <!-- <script src="js/editor.js" type="module"></script> -->
    <!-- <script src="https://cdn.ckeditor.com/ckeditor5/37.0.1/classic/translations/ko.js"></script> -->


    <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <!-- include summernote css/js -->
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
    <!--  -->
    <script src=" https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.18/lang/summernote-ko-KR.min.js"></script>
    <script>
        // 툴바생략
        $(document).ready(function () {

            let toolbar = [
                // 글꼴 설정
                ['fontname', ['fontname']],
                // 글자 크기 설정
                ['fontsize', ['fontsize']],
                // 굵기, 기울임꼴, 밑줄,취소 선, 서식지우기
                ['style', ['bold', 'italic', 'underline', 'strikethrough', 'clear']],
                // 글자색
                ['color', ['forecolor', 'color']],
                // 표만들기
                ['table', ['table']],
                // 글머리 기호, 번호매기기, 문단정렬
                ['para', ['ul', 'ol', 'paragraph']],
                // 줄간격
                ['height', ['height']],
                // 그림첨부, 링크만들기, 동영상첨부
                ['insert', ['picture', 'link', 'video']],
                // 코드보기, 확대해서보기, 도움말
                ['view', ['codeview', 'fullscreen', 'help']]
            ];

            let setting = {
                height: 600,
                disableResizeEditor: true,
                minHeight: null,
                maxHeight: null,
                focus: true,
                lang: 'ko-KR',
                toolbar: toolbar,
                //콜백 함수
                callbacks: {
                    onImageUpload: function (files, editor, welEditable) {
                        // 파일 업로드(다중업로드를 위해 반복문 사용)
                        for (let i = files.length - 1; i >= 0; i--) {
                            uploadSummernoteImageFile(files[i],
                                this);
                        }
                    }
                }
            };
            $('#textar').summernote(setting);
        });
    </script>
    <style>
        #content { text-align: left; padding: 10px 10px 10px 10px; }
        input[type="text"] { width: 100%;  padding-left: 5px; }
    </style>

</head>

<body>
    <div th:replace="~{/fragments/header :: headerFragment}"></div>
    <div hidden id="wrap">
    <!-- <div id="wrap"> -->
        <div id="content">
            <h2>글쓰기</h2>
            <hr>
            <form action="/Board/Write" method="post" enctype="multipart/form-data">
                <table>
                    <tr>
                        <td><b>제목<b></td>
                        <td><input id="title" type="text" name="title" th:value="${title}"></td>
                    </tr>
                    <tr id="conttr">
                        <td><b>내용<b></td>
                        <td><textarea id="textar" name="cont"></textarea></td>
                    </tr>
                    <tr hidden>
                        <td colspan="2">
                            <input type="text" name="menu_id" id="menu_id" th:value="${param.menu_id}">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="text-align: right;">
                            <input type="submit" value="작성">
                            <input type="button" onclick="location.href='/Board/List'" value="목록">
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</body>
<script>
    document.querySelector('#contents').append(document.querySelector('#content'));


    function uploadSummernoteImageFile(file, el) {
        data = new FormData();
        data.append("file", file);
        $.ajax({
            data: data,
            type: "POST",
            url: "uploadSummernoteImageFile",
            contentType: false,
            enctype: 'multipart/form-data',
            processData: false,
            success: function (data) {
                $(el).summernote('editor.insertImage', data.url);
            }
        });
    }

    document.querySelector('input[value="작성"]').onclick = function () {
        let title_text = document.querySelector('#title').value;
        let textar_text = document.querySelector('#textar').value;
        if (title_text.trim() == '') {
            alert('제목을 작성하지 않았습니다.');
            return false;
        }
        if (textar_text.trim() == '') {
            alert('내용을을 작성하지 않았습니다.');
            return false;
        }
    }


</script>

</html>