<!DOCTYPE html>
<html lang="en">
    <style>
        .navigation a{
            background-color: lightgray;
            
        }
        .navigation a:hover{
            
        }
        .logo{
            text-align: center;
        }
    </style>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/resource/css/style.css">
</head>
<body>
    <header>
    <h2 class="logo">Sport Green</h2>
    <marquee behavior="scrolldelay" scrolldelay="0">
        <a href="/">Welcome Sport Green!!</a>
    </marquee>
    <nav class="navigation">
        <a href="">Menu</a>
        <a href="">Board</a>
        <a href="">Sport</a>
        <a href="">Community</a>
        <a href="">Client Center</a>
        <button class="btnLogin">Login</button>
        </nav>
    </header>


    <script src="script.js"></script>
</body>
</html>