<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
</head>
<body>
    <hr>
    <h2>home</h2>
    <ul>
        <li><a href="/User/List">사용자 목록</a></li>
        <li><a href="/User/WriteForm">사용자 등록</a></li>
        <br>
        <li><a href="/Menu/List">메뉴 목록</a></li>
        <li><a href="/Menu/WriteForm">메뉴 등록</a></li>
        <br>
        <li><a href="/Board/List">게시물 목록</a></li>
        <li><a href="/Board/WriteForm">게시물 등록</a></li>
    </ul>
</body>
</html>