<!DOCTYPE html>
<html lang="en">
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="/css/common.css">

</head>

<body>
    <section class="login-form">
        <h1>Logo Design</h1>
        <form action="">
            <div class="int-area">
                <input type="text" name="id" id="id" autocomplete="off" required>
                <label for="id">USER NAME</label>
            </div>
            <div class="int-area">
                <input type="password" name="pw" id="pw" autocomplete="off" required>
                <label for="pw">PASSWORD</label>
            </div>
            <div class="btn-area">
                <button type="submit">login</button>
            </div>
        </form>
        <div class="caption">
            <a href="">Forgot Password?</a>
            <span>/</span>
            <a href="">Create An Account!</a>
        </div>
    </section>
</body>

</html>