<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv='refresh' content='3; url=/home.html'>
    <title>home</title>
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/kyung.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    
</head>
<body>
    <div class="background"></div>

      <div class="warp">
      <h1>
      <span><a href="/home"><i id="football-icon" class='bx bx-football'></a></span></i>
      <br>
      
    </h1>
    <p id="dynamic" class="lg-text">
      
    </p>
    <p class="sm-text">
      Green 426 | Final Project
    </p>
    <script src="js/script.js"></script>
  </div>
</div>

</body>
    <script>

      setTimeout('gotoPage()', 300); // 3초 후 실행
 
      function gotoPage(){
      
          location.href="/home";  // 이동주소
      
      }
      
      </script>
</html>