<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    .table tr td{
        border: solid 1px black;
        border-collapse: collapse;
    }
  
    .table .img{
        
        width: 30px ;
    
    }

</style>
<body>
    <div>
        <table class= "table">
            <tr>
                <th>이미지</th>
                <th>제목</th>
            </tr>
            <tr th:each="news : ${news} ">
                <td><a th:href="${news.url}"><img class="img"th:src="${news.image}"></a></td>
                <td><a th:href="${news.url}"><span th:text="${news.subject}"></span></a></td>
                </a>
            </tr>
        </table>
    </div>
</body>
</html>