<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/kyung.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Document</title>
</head>
<style>
    .table tr td{
        border: solid 1px black;
        border-collapse: collapse;
    }
  
    .table .img{
        
        width: 30px ;
    
    }

</style>
<body>
    <header th:replace="~{/fragments/header :: headerFragment}"></header>
    <div hidden id="wrap">

        <div id="content">
            <table class= "table">
                <tr>
                    <th>이미지</th>
                    <th>제목</th>
                </tr>
                <tr th:each="news : ${news} ">
                    <td><a th:href="${news.url}"><img class="img"th:src="${news.image}"></a></td>
                    <td><a th:href="${news.url}"><span th:text="${news.subject}"></span></a></td>
                </a>
            </tr>
        </table>
    </div>
</div>
</body>
<script>
    document.querySelector('#contents').append(document.querySelector('#content'));
</script>
</html>